# Dependencies
node_modules/

# Production builds
Frontend/dist/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# Operating Systems
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
